<div class="body">
  <!-- 外线旋转层 -->
  <div class="mainline">
    <div class="mainl1"></div>
    <div class="mainl2"></div>
    <div class="mainl3"></div>
    <div class="mainl4"></div>
    <div class="mainl5"></div>
    <div class="mainl6"></div>
  </div>
  <div class="mainxzb">
    <div class="mainxz2">
      <div class="mainxz2con">
        <img src="http://demo.96333tech.com/static/img/mainxz2.png" alt="反向旋转线条">
      </div>
    </div>
  </div>
  <div class="mainline2">
    <div class="mainld1"></div>
    <div class="mainld2"></div>
    <div class="mainld3"></div>
    <div class="mainld4"></div>
    <div class="mainlr"></div>
  </div>
</div>
